<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Vector Representations
## *Data Science Unit 4 Sprint 2 Assignment 2*

In [2]:
import re
import string

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import spacy
from spacy.tokenizer import Tokenizer
import squarify
import matplotlib.pyplot as plt
from sklearn.neighbors import NearestNeighbors
from bs4 import BeautifulSoup

## 1) *Clean:* Job Listings from indeed.com that contain the title "Data Scientist" 

You have `job_listings.csv` in the data folder for this module. The text data in the description column is still messy - full of html tags. Use the [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/) library to clean up this column. You will need to read through the documentation to accomplish this task.

In [3]:
from bs4 import BeautifulSoup
import requests

##### Your Code Here #####

# objective 1 = read data

df = pd.read_csv("data/job_listings.csv")

# objective 2 = clean description column

soup = []
for row in df['description']:
    soup_object = BeautifulSoup(row, 'html.parser')
    soup.append(soup_object)

# objective 3 = create new column in df

df['soup'] = soup

# objective 4 = remove quotes, 'b', and linebreaks

df['soup'] = df['soup'].apply(lambda x: x.get_text()[2:-1].replace('\\n', ' '))

## 2) Use Spacy to tokenize the listings

In [4]:
##### Your Code Here #####

# objective 1 = nlp and tokenizer

nlp = spacy.load("en_core_web_lg")

tokenizer = Tokenizer(nlp.vocab)

# objective 2 = tokenize

tokens = []
for doc in tokenizer.pipe(df['soup'], batch_size=500):
    doc_tokens = []
    for token in doc:
        if (token.is_stop == False) & (token.is_punct == False) & (token.pos_ != 'PRON'):
            doc_tokens.append(token.lemma_.lower().strip(":;., "))
    tokens.append(doc_tokens)

df['tokens'] = tokens

## 3) Use Scikit-Learn's CountVectorizer to get word counts for each listing.

In [5]:
##### Your Code Here #####

# objective 1 = create vectorizer

vect = CountVectorizer(lowercase=False)

# objective 2 = build vocab and transform text

dtm = vect.fit_transform(str(x) for x in df['tokens'])

# objective 3 = convert to desne

dtm = pd.DataFrame(dtm.todense(), columns=vect.get_feature_names())

# look at word counts in df

dtm.head()

,00,000,02115,03,0305,0356,04,062,06366,08,...,zero,zeus,zf,zheng,zillow,zogsports,zone,zoom,zuckerberg,zurich
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 4) Visualize the most common word counts

In [6]:
##### Your Code Here #####

dtm.tail(1)

,00,000,02115,03,0305,0356,04,062,06366,08,...,zero,zeus,zf,zheng,zillow,zogsports,zone,zoom,zuckerberg,zurich
425,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# objective 1 = add a "total" row

dtm = dtm.append(dtm.agg('sum'), ignore_index=True)

In [14]:
total = dtm.tail(1)

In [ ]:
top_10 = total.T.sort_values(by=[426], ascending=False)[:10].reset_index()

In [ ]:
squarify.plot(sizes=top_10[426], label=top_10['index'], alpha=0.8)
plt.axis('off')
plt.show()

## 5) Use Scikit-Learn's tfidfVectorizer to get a TF-IDF feature matrix

In [ ]:
##### Your Code Here #####

# objective 1 = instantiate vectorizer

# objective 2 = create vocabulary and get word count

# objective 3 = get feature names and create dataframe

In [ ]:
# objective 4 = add totals to use for visualization

In [ ]:
# objective 5 = create visualization

## 6) Create a NearestNeighbor Model. Write the description of your ideal datascience job and query your job listings.

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## Stretch Goals

 - Try different visualizations for words and frequencies - what story do you want to tell with the data?
 - Scrape Job Listings for the job title "Data Analyst". How do these differ from Data Scientist Job Listings
 - Try and identify requirements for experience specific technologies that are asked for in the job listings. How are those distributed among the job listings?
 - Use a clustering algorithm to cluster documents by their most important terms. Do the clusters reveal any common themes?
  - **Hint:** K-means might not be the best algorithm for this. Do a little bit of research to see what might be good for this. Also, remember that algorithms that depend on Euclidean distance break down with high dimensional data.
 - Create a labeled dataset - which jobs will you apply for? Train a model to select the jobs you are most likely to apply for. :)